html {
  font-size: 16px;
}

body {
  min-width: 320px;
  font-size: 16px;
}

button,
input,
select,
textarea {
  font: inherit;
}

.styled-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.styled-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 999px;
}
.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}
